#deco{
/*display: none;*/
}
#login{
  /*display: none;*/
}

#modal
{
  height: 400px;
  min-width: 300px;
  background-color: blue;
  width: 400px;
  left: 0;
  top: 0;
  position: fixed;
}
/*#logtext{
  text-align: right;
}

body{
  background-color: grey;
}
th{

}

table {
       width: 100%;
   }

   thead, tbody, tr, td, th { display: block; }

   tr:after {
       content: ' ';
       display: block;
       visibility: hidden;
       clear: both;
   }

   thead th {
       height: 30px;


   }

   tbody {
       height: 750px;
       overflow-y: auto;
   }

   thead {

   }
*/

   .grand{
       width: 25%;
   }
   .petit{
     width: 2%;
   }
   .moyen{
     width: 22%;
   }
   #addbtn{
width : 40%;

   }
   .footer{
     bottom: 0;
     position: absolute;
     text-align: center;
     width: 100%;
   }
   /*.container{
     padding-left: 50px;
     position: fixed;
     bottom: 0;
     text-align: center;*/
   }
/*#adddiv{
  text-align: center;
  text-align: center;
  left: 0px;
  right: 0px;
  width : auto;

}*/
